{% extends 'base.html' %}
{% block title %}
 Interview
{% endblock %}
{% block content %}
    <br>
<br>
<br>
    <h1>Interview yourself</h1>
    <br>


         <div> Ваше ітервю заплвновано на <h4>{{ interview.interview_date }}</h4> не забудьте)</div>
         <br>
         <br>
         <div> Ваш бос який її буде проводити за <h5>N{{ interview.recruiter_id }}</h5> імя згодом взнаєте =) шутка Боб</div>

    <br>
    <br>
        <a href="{{ url_for('my_cv') }}"><button type="button" class="btn btn-info" data-toggle="collapse" > You cv</button></a>

{% endblock %}
