{% extends 'base.html' %}
{% block title %}
 Interview
{% endblock %}
{% block content %}
    <br>
    <br>
    <h1>Interview yourself</h1>
    <br>
    {% if interview %}
         {% for i in interview %}
            <div> Ваше ітервю заплвновано на <h4>{{ i.interview_date }}</h4> не забудьте)</div>
         <br>
         <br>
         <div> Ваш бос який її буде проводити за <h5>N{{ i.recruiter_id }}</h5> імя згодом взнаєте =) шутка Боб</div>
         {% endfor %}

    {% elif  reject %}
        <h4>Вам відхилино в інтервю тому що => <b>{{ reject.why }}</b></h4>
    {% else %}
        <h4>Ваша заявка поки ще розглядається рекрутерами будь ласка очікуйте)</h4>
    {% endif %}
    <br>
    <br>
        <a href="{{ url_for('my_cv') }}"><button type="button" class="btn btn-info" data-toggle="collapse" > You cv</button></a>
{% endblock %}
