{% extends 'base.html' %}
{% block title %}
 My Cv
{% endblock %}
{% block content %}
<h1>You Cv</h1>
    <h5> Welcome {{ email}}</h5>

{% for c in cvs %}
    <br>
    <div>  Name =>  {{ c.name }}<br>  Age == {{ c.age }} <br> <b> You email => {{ c.email }}<br> End you cv => {{ c.cv }}</div>
    <h1>Ви вибрали stek => {{ c.stek }} і це круто дерзай)</h1>
    <br>

{% endfor %}

    <a href="{{ url_for('interview') }}"><button type="button" class="btn btn-info" data-toggle="collapse" >Interview </button></a>

{% endblock %}
